[submodule "deps/missio"]
	path = deps/missio
	url = https://github.com/missio-cpp/missio.git
	branch = master
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = master
